<% if model.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4>Validation failed</h4>
      <ul>
<% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
<% end %>
      </ul>
    </div>
<% end %>