<div class="d-flex justify-content-center align-items-center flex-column home__banner flex-grow-1">
  <h1 class='text-white'>Ruby Blog</h1>
  <p class='text-white'>This is a test application for exploring features and development practices in Ruby on
    Rails.</p>

  <% unless is_auth %>
    <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
  <% end %>
</div>