// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home {
  &__banner {
    height: 600px;
    background-image: image-url("banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}